@model CategoriesViewModel
@{
    ViewData["Title"] = "Delete";
}
@section Header{
    Delete Category
}
<div class="col-md-12">
<div class="card card-danger">
         <div class="card-header">
          <h3 class="card-title">Delete Confirmation</h3>
         </div>
         <div class="card-body">
             <p> Are you sure you want to delete @Model.Name?</p>
         </div>
          <div class="card-body">
              <form asp-controller="Category" asp-action="Delete" method="post">
              <input hidden asp-for="@Model.Id" /> 
              <button type="submit" class="btn btn-danger">Delete</button>
              <a asp-controller="Category" asp-action="Index" class="btn btn-info">Cancel</a>
              </form>
          </div>
   </div>