@model CategoryDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
@section Header{
    Details
}


<div class="col-md-12">

<div class="card">
         <div class="card-header">
          <h3 class="card-title">Details for @Model.Name</h3>
         </div>
         <div class="card-body">
             <ul>
                 <li> Description: @Model.Description</li>
                  <li> Status: @Model.CreatedAt</li>
                  <li> CreatedAt: @(Model.IsDeleted?"Deleted":"Active")</li>
                <li> <img src="~/files/images/@Model.ImageName"/> </li>

                  
             </ul>
           </div>


   </div>