@model CategoryEditViewModel
@{
    ViewData["Title"] = "Edit";
}
@section Header{
    Edit Category
}

<div class="col-md-12">
<div class="card card-primary">
              <div class="card-header">
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-controller="Category" asp-action="Edit" method="post" enctype="multipart/form-data">
                    <!-- Hidden input for Id -->
                <input type="hidden" asp-for="Id" />
                 <input type="hidden" asp-for="ImageName" />
                <div class="card-body">
                  <div class="form-group">
                    <label asp-for="Name">Category Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Category Name">
                  </div>
               <div class="form-group">
                    <label asp-for="Description">Category Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Enter Category Description">
                  </div>
                <div class="form-group">
                    <label asp-for="IsDeleted">IsDeleted</label>
                    <input asp-for="IsDeleted">
                  </div>

                  <div class="form-group">
                    <label asp-for="Image">Upload Image</label>
                    <input asp-for="Image">
                  </div>

                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Edit</button>
                </div>
              </form>
            </div>
</div>

