@model CourseFormViewModel

@{
    ViewData["Title"] = "Create";
}
@section Header{
    Create
}


<div class="col-md-12">
<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Create</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-controller="Course" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">
                    <label asp-for="Name">Course Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Course Name">
                  </div>
               <div class="form-group">
                    <label asp-for="Description">Course Description</label>
                    <input asp-for="Description" class="form-control textArea" placeholder="Enter Course Description">
                  </div>

               <div class="form-group">
                    <label asp-for="Price">Course Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Enter Course Price">
                  </div>
              <div class="form-group">
                    <label asp-for="DiscountedPrice">Course Discounted Price</label>
                    <input asp-for="DiscountedPrice" class="form-control" placeholder="Enter Course Discounted Price">
                  </div>

               <div class="form-group">
                    <label asp-for="CategoryId">Select Category</label>
                    <select asp-for="CategoryId" class="form-control" 
                    asp-items="@Model.Categories" >
                  @*  asp-items="@(new SelectList(Model.Categories,"Id","Name"))" >*@
                    </select>
                  </div>

               <div class="form-group">
                    <label asp-for="Image">Upload Image</label>
                    <input asp-for="Image" class="imageInput">
                  </div>
               <div class="form-group">
                    
                    <img src="#" id="imagePreview" style="display:none"/>
                  </div>



                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
</div>

@section scripts{
        <script src="https://cdn.tiny.cloud/1/z66v440cnvfqbp74knkl2vv23ldhtamvj24bmlbyvm9ltpuw/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
       
        <script>  
        tinymce.init({
            selector: '.textArea',
                 plugins: [
          // Core editing features
          'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
          // Your account includes a free trial of TinyMCE premium features
          // Try the most popular premium features until Oct 30, 2024:
          'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
        ],
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
          { value: 'First.Name', title: 'First Name' },
          { value: 'Email', title: 'Email' },
        ],
        })
        </script> 

    <script>
        var imageInput=document.querySelector(".imageInput");
            var imagePreview=document.getElementById("imagePreview");
            imageInput.addEventListener("change",(event)=>{
                console.log(event.target);
                    const file=event.target.files[0];

                    if(file){
                        let reader=new FileReader();
                        console.log(reader);
                        reader.onload=function(event){
                               imagePreview.style.display="block";
                                      imagePreview.src = event.target.result;
                        };
                            reader.readAsDataURL(file);
                    }
                    else{
                             imagePreview.style.display = "none";
                    }
            })
    </script>



}