@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

 <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                @* <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>*@
                        <a href="#" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Forgot Password</h2>
                        <form  asp-asp-controller="Auth" asp-action="SendResetPasswordUrl" class="register-form" id="login-form">
                            <div class="form-group">
                                <label asp-for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Email" placeholder="Your Email"/>
                            </div>
                            
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </section>
