@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

 <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                @* <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>*@
                        <a href="#" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Reset Password</h2>
                        <form method="POST" asp-asp-controller="Auth" asp-action="ResetPassword" class="register-form" id="login-form">
                        
                            <div class="form-group">
                                <label asp-for="NewPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="NewPassword" placeholder="New Password"/>
                            </div>
                             <div class="form-group">
                                <label asp-for="ConfirmNewPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="ConfirmNewPassword" placeholder="Conform New Password"/>
                            </div>
                             <input asp-for="Email" type="hidden"/>
                              <input asp-for="Token" type="hidden"/>
                            
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


